@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply text-gray-300 px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-500 hover:text-white;
  }

  .nav-item__active {
    @apply text-white bg-gray-600;
  }

  .burger__nav-item {
    @apply block text-base;
  }

  .burger__nav-item__active {
    @apply text-base;
  }

  .form__button {
    @apply hover:bg-blue-500 bg-blue-400 text-white block my-1 px-3 h-8 rounded-2xl shadow focus:outline-none focus:ring;
  }

  .form__button__success {
    @apply hover:bg-green-500 bg-green-400;
  }

  .form__button__cancel {
    @apply hover:bg-gray-500 bg-gray-400;
  }

  .action-button {
    @apply rounded-md shadow flex justify-center items-center h-10 w-12 border border-gray-200 text-gray-300;
  }

  .section__layout {
    @apply max-w-2xl mx-auto border border-gray-200 rounded sm:rounded-xl;
  }

  .section__layout + .section__layout {
    @apply mt-2 sm:mt-6;
  }

  .loader__circle {
    @apply h-3 w-3 bg-blue-400 rounded-full;
  }

  .loader__circle + .loader__circle {
    @apply ml-1;
  }
}
