@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply text-gray-300 px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-500 hover:text-white;
  }

  .nav-item__active {
    @apply text-white bg-gray-600;
  }

  .burger__nav-item {
    @apply block text-base;
  }

  .burger__nav-item__active {
    @apply text-base;
  }

  .form__button {
    @apply bg-blue-400 hover:bg-blue-500 disabled:opacity-50 disabled:cursor-default
    text-white block w-full sm:w-auto my-3 sm:my-1 px-3 h-8 rounded-2xl shadow focus:outline-none focus:ring;
  }

  .form__button__success {
    @apply bg-green-400 hover:bg-green-500;
  }

  .form__button__cancel {
    @apply bg-gray-400 hover:bg-gray-500;
  }

  .form__button__warning {
    @apply bg-yellow-400 hover:bg-yellow-500;
  }

  .form__button__danger {
    @apply bg-red-400 hover:bg-red-500;
  }

  .action-button {
    @apply rounded-md shadow flex justify-center items-center h-10 w-12 border border-gray-200 text-gray-300;
  }

  .section__layout {
    @apply max-w-2xl mx-auto border border-gray-200 rounded sm:rounded-xl p-2 sm:p-6;
  }

  .section__layout + .section__layout {
    @apply mt-2 sm:mt-6;
  }

  .loader__circle {
    @apply h-3 w-3 bg-blue-400 rounded-full;
  }

  .loader__circle + .loader__circle {
    @apply ml-1;
  }

  .divider {
    @apply w-full my-2 sm:my-6;
  }

  .card-button {
    @apply m-1 sm:m-3 p-2 sm:p-6 w-24 sm:w-40 h-24 sm:h-40 break-words flex-grow flex-shrink-0 rounded sm:rounded-xl shadow;
  }

  .list__item {
    @apply p-2 sm:p-6 flex flex-wrap justify-between items-center rounded sm:rounded-xl shadow bg-green-300;
  }

  .list__item + .list__item {
    @apply mt-2 sm:mt-6;
  }
}
